<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="src/css/FONT__MASTER.min.css">
        <link rel="stylesheet" href="src/css/ROOT.main.min.css">
        <link rel="stylesheet" href="src/css/ROOT.settings.min.css">
        <link rel="stylesheet" href="src/css/ROOT.VIEW.edit.min.css">
        <link rel="stylesheet" href="src/css/ROOT.VIEW.start.min.css">
        <script>
            // STORAGE / DEFAULTS
            const HTML_ROOT_STRUCTURES = require('./src/templates/html.structures.json')
            const CSS_ROOT_STYLES = require('./src/templates/css.styles.json')

            // GLOBAL REQUIREMENTS
            const $ = require('jquery')
            const _ = require('lodash')
            const fs = require('fs')
            const Vue = require('vue/dist/vue.min')
            const Vuex = require('vuex')
            const Fuse = require('fuse.js')
            const anime = require('animejs')
            const Toast = require('./src/js/modules/toast.js')
            const settings = require('electron-settings')
            const Mousetrap = require('mousetrap')
            const remote = require('electron').remote
            const { ipcRenderer } = require('electron')
        </script>
    </head>
    <body>
        <div id="app">




            <header class="titlebar">
                <div class="drag-area">
                    <div class="window-title">
                        <div class="tab-container">
                            <div class="tab" v-for="(tab, id) in TABS" :class="{'active' : id == ACTIVE_TAB}">
                                <div class="change-dot" :class="{'active' : tab.CHANGED}"></div>
                                <span class="title" @click="">{{tab.NAME}}</span>
                                <div class="close">&#61782;</div>
                            </div>
                            <div class="create">&#62485;</div>
                        </div>
                    </div>
                    <div class="window-controls">
                        <div class="tb-button" id="min-button">
                            <div class="icon">&#62324;</div>
                        </div>
                        <div class="tb-button" id="max-button">
                            <div class="icon">&#61745;</div>
                        </div>
                        <div class="tb-button" id="restore-button">
                            <div class="icon">&#61751;</div>
                        </div>
                        <div class="tb-button" id="close-button">
                            <div class="icon">&#61782;</div>
                        </div>
                    </div>
                </div>
            </header>

            <div id="preloader">
                <svg class="spinner" viewBox="0 0 50 50">
                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="4"></circle>
                </svg>
                <span class="preload-text"><b>Layout Editor</b></span>
            </div>








            <div class="view" id="start-view" v-show="TAB.VIEW == 'START'">
                <div class="start-open-settings" @click="GENERAL_UI.settings = true">
                    <div class="icon">&#62611;</div>
                </div>
            </div>



            <div class="view" id="edit-view" v-show="TAB.VIEW == 'EDIT'">

                <div class="option-panel">
                    <div class="account">
                        <div class="sign-in" v-show="!USER.online">
                            <div class="text">Sign In</div>
                            <div class="image">
                                <div class="icon">&#64305;</div>
                            </div>
                        </div>
                        <div class="online" v-show="USER.online">
                            <div class="text">{{USER.displayName}}</div>    
                            <div class="image">
                                <img :src="USER.displayImage" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="structure-panel">
                    <div class="indication-container">
                        <div class="focus-indicator" :class="{'active' : TAB.FOCUSED_PANEL == 'STRUCTURE'}"></div>
                    </div>
                    <div class="tree-container">
                        <structure-tree v-for="(child, id) in TAB.DOCUMENT.HTML" :focus="TAB.FOCUSED_HTML" :trace="id" :attributes="child.attributes" :label="child.label" :children="child.children"></structure-tree>
                    </div>
                    <div class="button-container">
                        <div class="btn">
                            <div class="icon">&#64121;</div>
                        </div>
                        <div class="btn">
                            <div class="icon">&#62443;</div>
                        </div>
                        <div class="btn" onclick="openStructureAdd(TAB().FOCUSED_HTML, 'INTO')">
                            <div class="icon">&#62485;</div>
                        </div>
                        <div class="btn filler">
                            <div class="icon">&#62474;</div>
                            <div class="label">Generate Code</div>
                        </div>
                    </div>
                </div>

                <div class="styling-panel">
                    <div class="indication-container">
                        <div class="focus-indicator" :class="{'active' : TAB.FOCUSED_PANEL == 'STYLE'}"></div>
                    </div>
                    <div class="tree-container">
                        <style-tree v-for="(child, id) in TAB.DOCUMENT.CSS" :focus="TAB.FOCUSED_CSS" :trace="id" :properties="child.properties" :label="child.label" :children="child.children"></style-tree>
                    </div>
                </div>

                <div class="workspace">
                    <div class="controls">
                        <div class="control-input">
                            <div class="icon">&#63565;</div>
                            <input class="input" min="0" max="9999" maxlength="4" type="number" v-model="TAB.VIEWPORT.X">
                        </div>
                        <div class="control-input">
                            <div class="icon">&#63566;</div>
                            <input class="input" min="0" max="9999" maxlength="4" type="number" v-model="TAB.VIEWPORT.Y">
                        </div>
                        <div class="control-icon-btn" onclick="rotateCoupledViewport()">&#62581;</div>
                        <div class="control-icon-btn" onclick="decoupleViewport()" :class="{'active' : TAB.VIEWPORT.DECOUPLED}">&#61516;</div>
                    </div>

                    <div class="center">
                        <div class="decoupled-viewport" v-show="TAB.VIEWPORT.DECOUPLED">
                            <div class="icon">&#63880;</div>
                            <div class="text">
                                The Viewport is <strong>decoupled</strong> and<br>shown in a seperate window.
                            </div>
                        </div>

                        <div class="viewport-container" v-show="!TAB.VIEWPORT.DECOUPLED">
                            <iframe ref="coupledViewport" class="viewport" :style="'width: '+TAB.VIEWPORT.X+'px; height:'+TAB.VIEWPORT.Y+'px;'"></iframe>
                            <div class="horizontal-handle">
                                <div class="icon">&#61917;</div>
                            </div>
                            <div class="vertical-handle">
                                <div class="icon">&#61916;</div>
                            </div>
                            <div class="diagonal-handle">
                                <div class="icon">&#62557;</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="status-panel"></div>
            </div>



            <div class="structure-add-panel" :class="{'active' : TAB.UI.structureAdd}">
                <div class="container">
                    <div class="close" onclick="closeStructureAdd()">
                        <div class="icon">&#61782;</div>
                        <div class="key">esc</div>
                    </div>
                    <div class="direction-indicator" :class="TAB.UI_DATA.structureAddDirection">
                        <div class="dot"></div>
                    </div>
                    <label class="search">
                        <input  class="input mousetrap"
                                type="text"
                                ref="structureSearch"
                                placeholder="Search tags or presets"
                                v-model="TAB.UI_DATA.structureAddSearch"
                                onfocus="focusStructureAddSearch()"
                                onblur="blurStructureAddSearch()"
                                onkeyup="updateStructureAddSearch()"
                                onkeydown="disableInputArrowKeys(event)">

                        <div class="info" :class="{'active' : TAB.FOCUSED_PANEL == 'STRUCTURE_ADD'}">
                            <div class="icon">&#62225;</div>
                            <div class="key">enter</div>
                        </div>
                    </label>
                    <div class="autocomplete" v-show="TAB.UI_DATA.structureAddSearch != ''">
                        <div class="empty" v-show="TAB.UI_DATA.structureAddSearchItems.length == 0">No matches found</div>
                        <div class="item" v-for="(structure, id) in TAB.UI_DATA.structureAddSearchItems" :class="{'selected' : id == TAB.UI_DATA.structureAddSearchSelected}">
                            <div class="type">{{structure.type}}:</div>
                            <div class="label">{{structure.name}}</div>
                        </div>
                    </div>
                    <div class="suggestions" v-show="TAB.UI_DATA.structureAddSearch == ''">
                        <div class="box">
                            <div class="tag">DIV</div>
                            <div class="icon">&#49;</div>
                        </div>
                        <div class="box">
                            <div class="tag">SPAN</div>
                            <div class="icon">&#50;</div>
                        </div>
                        <div class="box">
                            <div class="tag">A</div>
                            <div class="icon">&#51;</div>
                        </div>
                        <div class="box">
                            <div class="tag">INPUT</div>
                            <div class="icon">&#52;</div>
                        </div>
                        <div class="box">
                            <div class="tag">B</div>
                            <div class="icon">&#53;</div>
                        </div>
                        <div class="box">
                            <div class="tag">HTML*</div>
                            <div class="icon">&#54;</div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="popup-bg settings-bg" :class="{'active' : GENERAL_UI.settings}">
                <div class="popup-holder settings-holder">
                    <div class="popup-header settings-header">
                        Settings
                        <div class="close-ui" @click="GENERAL_UI.settings = false">&#61782;</div>
                    </div>
                    <div class="settings-categories">
                        <div class="category" :class="{'active' : GENERAL_UI.activeSetting == 'INFO'}" @click="GENERAL_UI.activeSetting = 'INFO'"><div class="icon">&#62205;</div> Info</div>
                    </div>



                    <div class="popup-content settings-content" v-show="GENERAL_UI.activeSetting == 'INFO'">

                        <!-- INFO -->
                        <div class="settings-divider">
                            <div class="info">
                                <h3>About this Software</h3><br>
                                Version: <div class="box">{{info.version}}</div><div class="box secondary">{{info.versionName}}</div><br>
                                API-Version: <div class="box">{{info.apiVersion}}</div><br>
                                Node-Version: <div class="box">{{info.nodeVersion}}</div><br>
                                Electron-Version: <div class="box">{{info.electronVersion}}</div><br><br>

                                Release Notes: <div class="button" @click="GENERAL_UI.releaseNote = true">Open</div><br><br>
                                <h3>About the developer</h3><br>
                                Developed by <i>Maurice Freuwört Software and Design</i>
                            </div>
                        </div>

                    </div>



                    <div class="popup-footer settings-footer">
                        <div class="button ghost-button" onclick="resetSettings()">Zurücksetzen</div>
                        <div class="button" onclick="applySettings()">Übernehmen</div>
                    </div>
                </div>
            </div>
            



            <div class="popup-bg release-note-bg no-select" :class="{'active' : GENERAL_UI.releaseNote}">
                <div class="popup-holder release-note-holder">
                    <div class="release-image">
                        <span class="title">
                            {{info.versionName}}
                            <span class="version">{{info.version}}</span>
                        </span>
                    </div>
                    <span class="headline">Das ist neu:</span>
                    <div class="release-note-container">
                        • Druckproblem wurde gelöst<br>
                        • Der Druck wird nun als kräftiges <b>Schwarz</b> dargestellt<br>
                    </div>
                    <div class="close-release-note" @click="GENERAL_UI.releaseNote = false">Los geht's!</div>
                </div>
            </div>




            <div class="full-window-popup" :class="{'active' : GENERAL_UI.login}">
                <div class="popup-background"></div>
                <div class="popup-center">
                    <form onsubmit="ipPassNext(event)">
                        <input type="text" class="input" id="pass-ip-value" placeholder="Passwort eingeben">
                        <button type="submit" class="button">Einloggen</button>
                    </form>
                </div>
            </div>




            <!-- HOLDER FOR ALL TOAST NOTIFICATIONS -->
            <div class="toast-holder"></div>

        </div>
    </body>
    
    <script>
        require('./src/js/events/ipc.events.js')
        require('./src/js/events/keybind.events.js')

        require('./src/js/helper/ui.helper.js')
        require('./src/js/helper/misc.helper.js')
        require('./src/js/helper/keybind.helper.js')
    </script>
    <script src="src/js/components/drag-number-input.js"></script>
    <script src="src/js/components/style-property.js"></script>
    <script src="src/js/components/structure-tree.js"></script>
    <script src="src/js/components/colorpicker.js"></script>
    <script src="src/js/components/style-tree.js"></script>
    <script src="src/js/app.js"></script>
    <script> ipcRenderer.send('loaded') </script>
</html>
